# Patterns to ignore when building packages.
# This supports shell glob patterns, relative paths matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.swo
*~
*.swn
.#*

# Helm
tox.ini
.testing
*.orig
**/README.md
**/VALUES.md
