apiVersion: v1
kind: Service
metadata:
  name: threshold-exporter
  namespace: monitoring
  labels:
    app: threshold-exporter
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
  selector:
    app: threshold-exporter
